body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131212;
}
table {
    background-color: #f651ee;
    border-collapse:collapse;
    width:100%;
}
th,td{
    border: 1px solid #ffffff;
}
td{
    text-align: center;
}